*{
  box-sizing: border-box;
}

body{
  margin: 0;
  overflow: hidden;
  font-family: "Arial", "sans-serif";
}

img{
  vertical-align: middle;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.wallet {
  background-color: #F7CD75;
  height: 720px;
  padding: 50px 180px;
}
.wallet__inner {
  display: flex;
  height: 600px;
  margin-bottom: 10px;
}
.wallet__box {
  width: 450px;
  background-color: #F2F2F2;
  padding: 40px 50px 20px 50px;
  overflow-y: scroll;

}

.box__header-card {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;

}
.box__title {
  font-weight: 500;
  font-size: 26px;
  margin: 0;
}

.box__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.box__item {
  margin-bottom: 35px;
}


.box__label {
  width: 100%;
}

.box__input:checked ~ .box__span {
  border: 3px solid rgb(122, 137, 194);
  transition: all 0.3s ease;
}

.box__span {
  display: block;
  border: 3px solid rgb(236, 236, 236);
  border-radius: 5px;
  background-color: #fff;
  padding: 20px 50px 20px 20px;
  transition: all 0.3s ease;

}

.box__span:hover{
  cursor: pointer;
  border-color: rgb(122, 137, 194);
}
.box__img {
  margin-bottom: 25px;
}
.box__number {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  font-size: 22px;
}
.box__span-wrap {
  font-size: 18px;
}





.wallet__box {
  width: 700px;
  background-color: #fff;
  padding: 40px 50px;
  overflow-y: scroll;
}

.box__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(222, 222, 222);
}
.box__title {
  font-weight: 500;
  font-size: 26px;
  margin: 0;
}
.box__header-span {
  font-size: 30px;
  font-weight: 700;
  color: rgb(48, 48, 48);
}
.box__label-div {
  padding-top: 50px;
}
.box__label-current {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.box__label--active{
  margin-bottom: 20px;
}
.box__input-current:checked  ~ .box__label-controller {
  background-image: url("../img/plus.svg");
  transition: all 0.3s ease;
}
.box__input-current:checked ~ .info > .box__label-price{
  color: #8DCF64;
  transition: all 0.3s ease;
}
.box__label-controller {
  display: inline-block;
  background-color: #fff;
  margin-right: 30px;
  padding: 12px;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 50%;
  background-image: url("../img/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  transition: all 0.3s ease;
}
.box__label-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 530px;
  justify-content: space-between;
}
.info__span {
  display: inline-block;
}
.box__label-title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #303030;
  margin: 0;
  margin-bottom: 8px;

}
.box__label-text {
  display: block;
  margin: 0;
  color: #BEBEBE;
  font-size: 20px;
}
.box__label-price {
  font-size: 24px;
  font-weight: 700;
  color: #8596C5;
  transition: all 0.3s ease;
}

.wallet__button{
  display: block;
  padding: 8px 15px;
  border: 2px solid transparent;
  color: #fff;
  background-color: rgb(123, 137, 194);
  border-radius: 10px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 30px;
}

.wallet__button:hover{
  cursor: pointer;
  opacity: 0.7;
}
.wallet__button:active{
  cursor: pointer;
  opacity: 0.5;
}